<section class="container" id="divertissements">
  <div class="row">
    <div class="col-12">
      <h4 class="s-title">
        Projects
      </h4>
    </div>
    <div class="col-6 col-lg-4" *ngFor="let divertissement of divertissements">
      <div class="divertissement" [ngStyle]="{'background-image': 'url(/assets/images/divertissements/'+divertissement.image+'.png)'}">
        <p class="description">
          <span class="title"> {{divertissement.title}}</span>
          <span class="technology">{{divertissement.technology}}</span>
        </p>
        <a class="description" target="_blank" href="{{divertissement.link}}">VIEW</a>
      </div>
    </div>
  </div>
</section>
