<div id="app-header" class="sticky">
  <div class="container ">
    <div class="row">
      <div routerLink="/" class="col-3">
        <a routerLink="/" class="logo">
          VP
        </a>
      </div>
      <nav class="col-9">
        <a routerLink="/" fragment="skills">
          <span>Tech Skills</span>
        </a>
        <a routerLink="/projects">
          <span>Projects</span>
        </a>
        <a routerLink="/resume">
          <span>Resume</span>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/vladislav-plazinskiy-b1b7253a/">
          <span><i class="icon-linkedin"></i></span>
        </a>
        <a target="_blank" href="https://github.com/capone23">
          <span><i class="icon-github"></i></span>
        </a>
      </nav>
    </div>
  </div>
</div>
