$lutam-black: #000;
$lutam-white: #fff;
$lutam-blue: #3498db;
$lutam-light-blue: aliceblue;

$header-height: 2.3rem;
$hdr-height: 3.3rem;
$margin: 1rem;

$main-font: 'Quicksand', serif;
$bold-font: 'Montserrat', serif;


